*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background: url("pictures/41.ea93a59f714f0ad293beef85bc490b1f.jpg" );
    background-size: cover;
    
}
nav{
    background: rgba(0, 0, 0,0.5);
    height: 80px;
    width: 100%;
}
label{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    margin-right: 10px;
}
.fa-user{
    margin-right: 550px;
}
.text-content {
    margin-top: 120px;
    margin-left: 250px;
    font-style: normal;
  }
  .rectangle{
    width: 1000px; 
    height: 400px; 
    background-color: rgba(255, 255, 255, 0.447);
    border-radius: 40px;
    margin-left: 130px;
    margin-top: 50px;
  }
  .rectangle1{
    width: 800px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.406);
    border-radius: 60px;
    margin-top: -380px;
    margin-left: 220px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.614);
  }
  .p{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
     margin-top: -40px;
     margin-left:400px;
     font-size: 30px;
  }
  .button1 input{
    margin-top: 60px;
    margin-left: 250px;
    height: 30px;
    width: 30px;
}
.button1 .label1{
    margin-top: 35px;
    margin-left: 200px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal; 
}
.button1{
    display: flex;
    flex-direction: column;
}
.button1 .label{
    display: flex;
    flex-direction: column;
}
.button1 .label2{
    margin-top: 125px;
    margin-left: 200px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal; 
}
.button1 .label3{
    margin-top: 215px;
    margin-left: 200px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal; 
}
.P1{
        font-family: "Archivo Black", sans-serif;
        font-weight: 900;
        font-style: normal;
        margin-top: -260px;
        margin-left: 600px;
        font-size: 50px;
        color: white;
        font-style: italic;
}
.P2{
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: -10px;
    margin-left: 790px;
    font-size: 50px;
    color: yellow;
    font-style: italic;
}
.P3{
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: -10px;
    margin-left: 600px;
    font-size: 50px;
    color: yellow;
    font-style: italic;
}
.P4{
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: -10px;
    margin-left: 790px;
    font-size: 50px;
    color: yellow;
    font-style: italic;
}
.P5{
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: -0px;
    margin-left: 570px;
    font-size: 50px;
    color: white;
    font-style: italic;
}
.rectangle2{
    width: 20px; 
    height: 100px; 
    background-color: yellow;
    margin-left: 775px;
    margin-top: -305px;
}
.rectangle3{
    width: 350px; 
    height: 20px; 
    background-color: white;
    margin-left: 580px;
    margin-top: 60px;
}
.rectangle4{
    width: 350px; 
    height: 20px; 
    background-color: white;
    margin-left: 780px;
    margin-top: 50px;
}
.back-button button{
    width: 50px;
    height: 50px;
   margin-top: 23Px;
   margin-left: 1170px;
   background-size: 100px;
   border-radius: 10px;
   background-color: gray;
   color: yellow;
   position: fixed;
  } 
  .back-button button i{
    font-size: 35px;
  }